<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
      <header>
        <% include partials/_header %>
      </header>
      <div id="page-wrap">
          <% for(var i in urls) { %>
            <% if (user === urls[i].userID) { %>
          <a href="/u/<%= i %>">
            <%= i %>
          </a> ---> <%= urls[i].longUrl %><br>
          <form method="POST" action="/urls/<%= i %>/delete">
            <input type="submit" value="Delete"></input>
          </form>
          <form method="GET" action="/urls/<%= urls[i].shortUrl %>">
            <input type="submit" value="Edit"></input>
          </form>
          <br>
          <% } else { %>
            <br>
          <% } } %>
          <a href="/urls/new">Shorten your links with just one easy click!</a>
    </div>
  </body>
</html>